{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ event.name }} の編集
</h1>

<div class="container">
    <form action="{{ url_for('main.update_event',event_id=event.id) }}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="event_name">{{ event.name }}</input>
        <input type="date" name="event_date">{{ event.event_date }}</input>
        <input type="date" name="adstart_date">{{ event.adstart_date }}</input>
        <input type="date" name="end_date">{{ event.end_date }}</input>
        <button type="submit" class="btn btn-success">確定</button>
    </form>
</div>

{% endblock %}